{"private-key": "**private key of the newly created account using the library**","verifier-address": "**Address of the newly created ethereum account for the verifier**","contract-address": "**Address of the deployed Verifier Smart Contract, deployed using the library**"}